In [1]:
pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_datareader) (1.4.2)
Requirement already satisfied: requests>=2.19.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_datareader) (2.27.1)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas_datareader) (4.8.0)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas>=0.23->pandas_datareader) (2022.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.19.0->pandas_datareader) (2.0.12)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.10/bin/python3.10 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install matplotlib

Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (3.5.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (9.1.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (4.33.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.17 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (1.22.3)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib) (21.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.10/bin/python3.10 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pandas_datareader import data
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [4]:
# start = '2019-06-01'
# end = '2020-06-01'

# df = data.DataReader('^N225', 'yahoo', start, end)

In [5]:
df.head(10)

NameError: name 'df' is not defined

In [ ]:
df.index

In [ ]:
data = df.index
price = df['Adj Close']

In [ ]:
plt.plot(data, price)

In [ ]:
plt.figure(figsize = (30, 10))
plt.plot(data, price)

In [ ]:
plt.figure(figsize = (30, 10))
plt.plot(data, price, label='Nikkei225')
plt.legend()

In [ ]:
plt.figure(figsize = (30, 10))
plt.plot(data, price, label='Nikkei225')
plt.title('N225', color = 'blue', backgroundcolor = 'white', size = 40, loc = 'center')
plt.legend()

In [ ]:
plt.figure(figsize = (30, 10))
plt.plot(data, price, label='Nikkei225')
plt.title('N225', color = 'blue', backgroundcolor = 'white', size = 40, loc = 'center')
plt.xlabel('date', color = 'black', size = 30)
plt.ylabel('price', color = 'black', size = 30)
plt.legend()

In [ ]:
span01 = 5
span02 = 25
span03 = 50

# rolling(移動平均の算出メソッド)  (window = 日数)は間隔をあける日数　　meanは平均
df['sma01'] = price.rolling(window = span01).mean()
df['sma02'] = price.rolling(window = span02).mean()
df['sma03'] = price.rolling(window = span03).mean()

In [ ]:
pd.set_option('display.max_rows', None)  # 行の省略をさせない
df.head(100)

In [ ]:
plt.figure(figsize = (30, 10))
plt.plot(data, price, label = 'Nikkei225')
plt.plot(data, df['sma01'], label = 'sma01')
plt.plot(data, df['sma02'], label = 'sma02')
plt.plot(data, df['sma03'], label = 'sma03')

plt.title('N225', color = 'blue', backgroundcolor = 'white', size = 40, loc = 'center')
plt.xlabel('date', color = 'black', size = 30)
plt.ylabel('price', color = 'black', size = 30)
plt.legend()

In [ ]:
# 配色の参考サイト
# https://colorhunt.co/palette/184189

In [ ]:
# カラーをRGB指定
plt.figure(figsize = (30, 10))
plt.plot(data, price, label = 'Nikkei225', color = '#99b898')
plt.plot(data, df['sma01'], label = 'sma01', color = '#e84a5f')
plt.plot(data, df['sma02'], label = 'sma02', color = '#ff847c')
plt.plot(data, df['sma03'], label = 'sma03', color = '#feceab')

plt.title('N225', color = 'blue', backgroundcolor = 'white', size = 40, loc = 'center')
plt.xlabel('date', color = 'black', size = 30)
plt.ylabel('price', color = 'black', size = 30)
plt.legend()

In [ ]:
# ゴールデンクロス　短期の移動平均線が中期以上の移動平均線を下から上に抜けること　【価格が上昇しているサイン】
# デッドクロス　短期の移動平均線が中期以上の移動平均線を上から下に抜けること　【価格が下降しているサイン】

In [ ]:
# 出来高を棒グラフにする
plt.figure(figsize = (30, 10))
plt.bar(data, df['Volume'], label='Volumu', color = 'grey')
plt.legend()

In [ ]:
# 棒グラフと線グラブを二分割表示する
plt.figure(figsize = (30, 10))

plt.subplot(2, 1, 1)
plt.plot(data, price, label = 'Close', color = '#99b898')
plt.plot(data, df['sma01'], label = 'sma01', color = '#e84a5f')
plt.plot(data, df['sma02'], label = 'sma02', color = '#ff847c')
plt.plot(data, df['sma03'], label = 'sma03', color = '#feceab')
plt.legend()

plt.subplot(2, 1, 2)
plt.bar(data, df['Volume'], label='Volumu', color = 'grey')
plt.legend()

# 個別銘柄のデータ取得

In [6]:
# リクルートホールディングス
df = data.DataReader('6098.JP', 'stooq')

In [7]:
df.head()

              Open    High     Low   Close   Volume
Date
2022-05-24  4834.0  4839.0  4594.0  4600.0  9441200
2022-05-23  4874.0  4998.0  4864.0  4924.0  5392100
2022-05-20  4630.0  4912.0  4555.0  4892.0  9375600
2022-05-19  4712.0  4721.0  4555.0  4602.0  6785700
2022-05-18  4897.0  4925.0  4730.0  4801.0  6605500